table {

    border:1px solid black;
          border-collapse: collapse;
          text-align: left;
          margin: auto;
          
}

td {
    border:1px solid black;
          border-collapse: collapse;
          text-align: left;
}

th {
    
    border:1px solid black;
    width: 100px;    
          border-collapse: collapse;
          text-align: center;
          background-color: rgb(73, 208, 0);
          font-weight: bold;
}

h1 {
    color: blue;
    text-align: center;
    font-weight: bold;
}

caption {
    color: rgb(255, 208, 0);
    text-align: center;
    font-size: 25px;
}


.LMSGI {
    background-color: rgb(105, 0, 170);
}

.BD {
    background-color: orange;
}

.PED {
    background-color: yellowgreen;
}

.SI {
    background-color: rgb(242, 40, 195);
}

.TUT {
    background-color: green;
}

.AN {
    background-color: brown;
}

.DIW {
    background-color: rgb(103, 225, 103);
}

.IPOI {
    background-color: aqua;
}